body { 
    background-image: url("PG.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center; 
    text-align: center;
    min-height: 100vh;
     
   
  }
   
  h1 {
    color: black; 
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  p {
    color: black;
    font-family: arial; 
    font-size: 25px
   
  }
  
  label {
    color: black; 
  }

  .textpadding{
    margin: 10px;
    padding: 10px;
  }
  input:placeholder {
    color: black; 
  }

  
  button {
    color: white;
    background-color: black; 
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: cyan; 
  }
 
 #survey-form {
    background-color: rgba(255, 255, 255, 1); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block; 
    width: 500px; 
    text-align: left; 
    margin-top: 100px; 
  }